# Node.js
node_modules/
npm-debug.log
package-lock.json

# macOS
.DS_Store

# Linux
*~
*.swp

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment variables

# Ignore compiled output
/dist